header {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #FFF;
  padding: 15px 20px;
  border-radius: 0 0 10px 10px;
  box-shadow:  20px 20px 60px rgb(0 0 0 / 35%),
             -20px -20px 60px rgb(0 0 0 / 45%);
}

#title {
  font-family: 'Kablammo', cursive;
}
